#numpy>=1.16.3,<2
#pandas>=0.23.3,<1
#scikit-image>=0.14.3,<=0.16.2
#scikit-learn>=0.19.1,<1
#scipy>=1.1.0,<2
matplotlib_venn
#git+https://github.com/angelolab/ark-analysis.git@v0.6.3
git+https://github.com/angelolab/ark-analysis.git@e4caefeb5e1c8f74939efe18b1dd3d8382aec5db
