#numpy>=1.16.3,<2
#pandas>=0.23.3,<1
#scikit-image>=0.14.3,<=0.16.2
#scikit-learn>=0.19.1,<1
#scipy>=1.1.0,<2
matplotlib_venn
#git+https://github.com/angelolab/ark-analysis.git@v0.6.3
git+https://github.com/angelolab/ark-analysis.git@ce642b04e9a6df750db7dbcf50828417378f8488
git+https://github.com/angelolab/toffy.git@265d40277ff7156d3e9c8d8a6cfbbaf635cf4333
